/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Aligner-item {
    width: 100%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
.container{
    height: 90vh;
}

.home-search-input{
    display: inline-block!important;
    width: 40%!important;
    height: 61px;
    text-align: center;
    margin-right: 11px;
    margin-top: 22px;
}

.home-search-button{
    display: inline-block!important;
    width: 10%!important;
    height: 60px;
    margin-bottom: 1px;
}

.search-form{
    text-align: center;
}

.search-form .blurb{
    margin-bottom: 70px;
    max-width: 25%;
    margin: 0 auto;
}

.nav-search{
    width: 300px!important;
    text-align: center;
    margin-left: 25px;    
}

 #map {
    height: 100%;
    margin-top: 20px;
  }

.dropdown-menu.map-option li{
  padding: 10px;
  position:relative;
}

.dropdown-menu.map-option li input.checkbox, .map-checkbox input.checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.dropdown-menu.map-option li span.checkmark, .map-checkbox span.checkmark{
    position: absolute;
    top: 11px;
    right: 11px;
    height: 23px;
    width: 23px;
    border: 1px solid #80808052;
    border-radius: 4px;
}

.map-checkbox span.checkmark{
  top: -1px;
  left: -2px;
  height: 30px;
  width: 30px;
}

.map-dropdown-option, .map-checkbox{
  margin-top: 21px;
  display: inline-block;
  margin-right: 10px;
}

.map-checkbox{
  position: relative;
}

.map-checkbox span.text{
  margin-left: 38px;
}

.dropdown-menu.map-option li input.checkbox:checked ~ .checkmark, .map-checkbox input.checkbox:checked ~ .checkmark{
  background-color: #2196F3;
}

.dropdown-menu.map-option li span.tick, .map-checkbox  span.tick{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* transform: rotate(45deg); */
    border: solid #2196F3;;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 14px;
    right: 18px;
    height: 16px;
    width: 8px;
    display:none;
}

.map-checkbox span.tick{
    top: 1px;
    left: 8px;
    height: 23px;
    width: 11px;
}

.dropdown-menu.map-option li span.tick.active, .map-checkbox span.tick.active{
  display:block;
}

.campaign-link{
  float:right;
  margin-top: 21px;
  position:relative;
}

.campaign-link span.notification{
  height: 30px;
  width: 30px;
  background: red;
  position: absolute;
  border-radius: 30px;
  top: -7px;
  font-size: 18px;
  padding-top: 2px;
  color: white;
}

